@import url('trustpilot-message.css');

a,
input,
button,
select {
    pointer-events: none;
}

.trustpilot-overlay {
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.60);
    outline: 2px solid #00b67a;
    background-color: rgba(25, 25, 25, 0.2);
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000001;
}

#trustpilot-widget-trustbox-preview {
    pointer-events: none;
}