<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Trustpilot_Reviews::trustpilot" title="Truspilot Reviews Menu" translate="title" sortOrder="10" />
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Trustpilot_Reviews::settings" title="Trustpilot Reviews Settings" translate="title">
                                <!-- this resource id we can use in system.xml for section -->
                                <resource id="Trustpilot_Reviews::configuration" title="Trustpilot Reviews Section" translate="title" sortOrder="2" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>