<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
       <trustpilotGeneral>
           <general>
               <ApiUrl>https://invitejs.trustpilot.com/api/</ApiUrl>
               <ScriptUrl>https://invitejs.trustpilot.com/tp.min.js</ScriptUrl>
               <WidgetUrl>http://widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js</WidgetUrl>
               <key></key>
           </general>
       </trustpilotGeneral>
       <trustpilotTrustbox>
           <trustbox>
               <trustbox_enable></trustbox_enable>
               <trustbox_locale></trustbox_locale>
               <trustbox_template></trustbox_template>
               <trustbox_position></trustbox_position>
               <trustbox_paddingx>30</trustbox_paddingx>
               <trustbox_paddingy>10</trustbox_paddingy>
           </trustbox>
       </trustpilotTrustbox>
   </default>
</config>