<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
       <trustpilotGeneral>
           <general>
               <ApiUrl>https://invitejs.trustpilot.com/api/</ApiUrl>
               <ScriptUrl>https://invitejs.trustpilot.com/tp.min.js</ScriptUrl>
               <WidgetUrl>//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js</WidgetUrl>
               <SignUpUrl>https://business.trustpilot.com/signup?utm_source=magentov2&amp;utm_medium=appstore&amp;utm_campaign=magentov2app</SignUpUrl>
               <ConnectUrl>https://ecommerce-invitations.b2b.trustpilot.com/#/magento</ConnectUrl>
               <SnippetUrl>https://businessapp.b2b.trustpilot.com/#/integrations/trustbox/library</SnippetUrl>
               <ReleaseNumber>1.0.189</ReleaseNumber>
               <key></key>
            </general>
       </trustpilotGeneral>
       <trustpilotTrustbox>
           <trustbox>
               <trustbox_enable></trustbox_enable>
               <trustbox_code_snippet></trustbox_code_snippet>
               <trustbox_page></trustbox_page>
               <trustbox_position></trustbox_position>
               <trustbox_xpath></trustbox_xpath>
           </trustbox>
       </trustpilotTrustbox>
   </default>
</config>
