<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="trustpilot" translate="label" sortOrder="10">
            <label>Trustpilot</label>
        </tab>
        <section id="trustpilot" translate="label" sortOrder="130" showInDefault="0" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>General</label>
            <tab>trustpilot</tab>
            <resource>Trustpilot_Reviews::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>
                <field id="key" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>Key</label>
                    <comment>Key which is generated during integration setup in Trustpilot business site</comment>
                </field>
            </group>
        </section>
    </system>
</config>