<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="trustpilot" translate="label" sortOrder="10">
            <label>Trustpilot</label>
        </tab>
        <section id="trustpilot" translate="label" sortOrder="130" showInDefault="0" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>General</label>
            <tab>trustpilot</tab>
            <resource>Trustpilot_Reviews::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="0">
                <attribute type="expanded">1</attribute>
                <label>General Configuration</label>
                <field id="key" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>Installation key</label>
                    <comment>This is the key provided by Trustpilot to connect to your Magento web store.</comment>
                </field>
            </group>
            <group id="signup" translate="label" type="text" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="0">
                <attribute type="expanded">1</attribute>
                <label>Don’t have an installation key yet?</label>
                 <field id="create_user" translate="label" sortOrder="20" showInDefault="0" showInWebsite="1" showInStore="0">
                    <frontend_model>Trustpilot\Reviews\Block\System\Config\Signup</frontend_model>
                    <label>Step 1:</label>
                    <comment>Create a new Trustpilot Business account.</comment>
                </field>
                   <field id="get_key" translate="label" sortOrder="21" showInDefault="0" showInWebsite="1" showInStore="0">
                    <frontend_model>Trustpilot\Reviews\Block\System\Config\Connect</frontend_model>
                    <label>Step 2:</label>
                    <comment>Connect your Magento store to Trustpilot.</comment>
                </field>
            </group>
        </section>
    </system>
</config>